<div class="container-fluid">
  <h1>Angular</h1>
  <app-courses></app-courses>
  <app-authors></app-authors>
  <hr>
  <app-course></app-course>
  <hr>
  <hr>
  <p>{{title | titlecase}}</p>
  <input type="text" [(ngModel)]="title">

  <app-favourite [is-favorite]="post.isSelected" (on-change)="onFavoriteChange($event)">
  </app-favourite>

  <span style="padding-left:100px" class="fa fa-star fa-2x"></span>

  <bootstrap-panel>
    <h1 class="heading">Complex Heading</h1>
    <div class="body">
      <h2>Body</h2>
      <span>Some text here..</span>
    </div>
  </bootstrap-panel>

  <hr>
  <app-like [isSelected]='tweet.isHearted' [count]='tweet.totalCount'></app-like>
  <hr>
  <app-directive></app-directive>

  <hr>
  <h1>Custom Directive</h1>
  <input type="text" appInputFormat [format]="'uppercase'" />

  <h1>Postfix Evaluation</h1>
  <input type="text" appExpression [type]="'postfix'" />

  <h1>Zippy Component</h1>
  <app-zippy title="Hello">
    <h1>Body</h1>
    <hr>
  </app-zippy>
  <hr>
  <h1>Template Driven Forms</h1>
  <app-template-forms></app-template-forms>
  <hr>
  <h1>Udemy Form Template Driven Form</h1>
  <app-course-form></app-course-form>
  <hr>
  <h1>Reactive Forms</h1>
  <app-signup-reactive></app-signup-reactive>
  <hr>
  <h1>Reactive Nested Forms</h1>
  <app-nestedgroup-reactive></app-nestedgroup-reactive>
  <hr>
  <h1>Reactive Form Array</h1>
  <app-formarray-reactive></app-formarray-reactive>
  <hr>
  <hr>
  <h1>Reactive Form Assignment</h1>
  <app-change-password-reactive></app-change-password-reactive>
  <hr>
  <h1>Http (Consuming Data)</h1>
  <app-posts-httpp></app-posts-httpp>
  <hr>
  <h1>Consuming Data Exercise</h1>
  <app-github-followers></app-github-followers>
</div>
